/* 当屏幕宽度小于或等于768px时，即移动端 */
@media (max-width: 768px) {
    .third .second_1 .second_1_1 {
        margin-top: 10px;
        color: #333333;
        letter-spacing: 1.5px;
    }
    /* 隐藏第一个img */
    .first img:nth-child(1) {
        display: none;
    }
    .first{
        height: auto;
    }
    /* 显示第二个img */
    .first_2 {
        display: block;
    }
    .third .second_1{
        margin-top: -40px;
        width: 94%;
        background-image: url("https://zhenmuwang.oss-cn-beijing.aliyuncs.com/sell_answer_img__pc_image_a27b2d45-6b65-4208-b159-31cf256bd2fb.png");
    }
    .computer{
        display: none !important;
    }
    .mobile{
        display: flex !important;
    }
    .third_2 {
        width: 94%;
        margin-top: 5px;
    }
    .third_2_space{
        width: 100%;
    }
    .tab_{
        color: #ECECEC;
    }
    .white-underline {
        position: relative;
        display: inline-block;
        font-size: 16px !important;
    }
    .white-underline::after {
        content: ''; /* 为伪元素设置内容 */
        position: absolute;
        bottom: -10px; /* 控制下划线与文本的距离。此处设置为5px，你可以根据需要调整 */
        left: 0; /* 从左边开始 */
        width: 100%; /* 下划线宽度与文本内容对齐 */
        height: 2px; /* 设置下划线的高度 */
        background-color: #EBC284;
    }
    .third .third_4 {
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
    }
    .third .third_4 .third_4_left{
        width: 100%;
        margin-left: 3%;
    }
    .third .third_4 .third_4_right {
        margin-left: 5px;
        height: 100%;
        width: 40%;
    }
    .third .third_4 .third_4_left .third_4_left_4{
        margin: 0;
    }
    .third .third_4 .third_4_left .third_4_left_4 .third_4_left_4_1 .third_4_left_4_1_left {
        width: 20px;
        height: 20px;
    }
    .tab_2_space, .tab_0_space, .tab_3_space_middle, .tab_4_space_middle, .tab_5_space_middle {
        margin-top: 20px;
        width: 94%;
        border-radius: 10px;
    }
    .light_brown[data-v-dfbaac98] {
        padding: 10px 10px 10px 10px;
        margin-top: 10px !important;
    }
    .clamp-text {
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        cursor: pointer;
    }

    .clamp-text.expanded {
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }
    .clamp-text:not(.expanded)::before {
        content: "...";
        position: absolute;
        right: 5vw;  /* 根据"更多"的实际宽度进行调整 */
        bottom: 0;
        color: white;
        background-color: #684525;  /* 设置为父元素的背景颜色 */
        white-space: nowrap;
    }
    .clamp-text:not(.expanded)::after {
        content: "更多";
        position: absolute;
        right: 0;
        bottom: 0;
        color: #FF7E00;
        background-color: #684525;  /* Set this to the background color of the parent element */
        text-align: right;
        padding-left: 5px;  /* space for ellipsis */
        white-space: nowrap;
    }
    .third_1{
        margin-top: 3%;
        width: 94%;
    }
    .blue-tab{
        background: linear-gradient(to bottom, #3B94F1, #095EB9);
    }
    .blue-underline {
        position: relative;
        display: inline-block;
        font-size: 16px !important;
    }
    .blue-underline::after {
        content: ''; /* 为伪元素设置内容 */
        position: absolute;
        bottom: -10px; /* 控制下划线与文本的距离。此处设置为5px，你可以根据需要调整 */
        left: 0; /* 从左边开始 */
        width: 100%; /* 下划线宽度与文本内容对齐 */
        height: 2px; /* 设置下划线的高度 */
        background-color: #58AAFF;
    }
    .fifth{
        width: 94%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .fifth_1{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 14px;
    }
    .fifth_1_left img{
        width: 20px;
        height: 20px;
    }
    .fifth_1 .fifth_1_left{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .fifth_2{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        justify-content: space-between;
    }
    .fifth_2_1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #532B07;
        padding: 10px;
    }

    .fifth_2_2{
        background-color: #4B2604;
        padding: 10px;
        display: flex;          /* 使用 Flexbox 布局 */
        flex-direction: column; /* 主轴方向从上到下 */
        width: 100%;            /* 占据全部可用宽度 */
    }
    .fifth_2_2_left{
        word-wrap: break-word;  /* 如果文本过长，允许换行 */
        flex: 1;                /* 允许该元素扩展，占据尽可能多的空间 */
    }
    .fifth_2_2_right{
        align-self: flex-end;
        color: #E58A38;
    }
    .six{
        width: 94%;
        border-radius: 10px;
        margin-top: 20px;
    }
    .six_table{
        width: 100%;
        border-radius: 10px;
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden;
        font-size: 13px;
    }
    .six td{
        border: none !important;
        padding: 10px 10px 10px 15px;
    }
    .six tr td:nth-child(1) {
        background-color: #532B07;
    }
    .left_width_1 td:nth-child(1){
        width: 100px;
    }
    .left_width_2 td:nth-child(1){
        width: 130px;
    }
    .left_width_3 td:nth-child(1){
        width: 100px;
    }
    .eight{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    .eight_item{
        font-size: 13px;
        padding: 10px;
    }
    .eight_1{
        display: flex;
        flex-direction: column;
        width: 40%;
        background-color: #683A10;
    }
    .selected_category{
        background-color: #5B3009;
        color: #FF9B40;
    }
    .eight_2{
        display: flex;
        flex-direction: column;
        background-color: #5B3009;
        flex:1;
    }
    /* 选择每一行的第二个td */
    .six tr td:nth-child(2) {
        background-color: #4B2604;
    }
    .seven{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 94%;
        margin-top: 10px;
    }
    .vertical-line {
        border-left: 2px solid #4B2604;
        height: 30px;
        width: 0;
        display: inline-block;  /* 或者使用block，根据需要 */
    }
    .fifth_question{
        width: 100%;
        background-color: #00133F;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fifth_question_space{
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .question_mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .answer_mobile{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .dark_third_bg{
        background-color: #00113A !important;
    }
    .nine{
        width: 94%;
        margin-top: 10px;
    }
    .hover_image{
        width: 65px;
        height: 65px;
    }
}
