.custom_tag{
    padding: 5px 25px;
    border-radius: 10px;
    margin: 10px;
}
.border_50_radius{
    border-radius: 50px !important;
}
.orange_linear_btn{
    background: linear-gradient(to right, #DA7327, #FA4704);
}
.orange_btn{
    background: #FF834E;
    color: #fff;
}
