.custom_tag{
    padding: 5px 25px;
    border-radius: 10px;
    margin: 10px;
}
.border_50_radius{
    border-radius: 50px !important;
}
.orange_linear_btn{
    background: linear-gradient(to right, #DA7327, #FA4704);
}
.orange_btn{
    background: #FF834E;
    color: #fff;
}
.orange_long_btn{
    background: #FF834E;
    color: #fff;
    padding: 5px 70px;
    border-radius: 50px;
    font-size: 14px;
}
.brown-orange_btn{
    background: #7B3D04;
    color: #FF9B40;
    padding: 5px 8px !important;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brown-white_btn{
    background: #4B2604;
    color: #fff;
    padding: 5px 8px !important;
    border-radius: 5px;
    font-size: 14px;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangle-down {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    display: inline-block;
    margin-left: 5px;
}
.brown-orange{
    border-top: 6px solid #FF9B40;  /* 这里设置你想要的颜色 */
}
.brown-white{
    border-top: 6px solid #fff;  /* 这里设置你想要的颜色 */
}
.gradient-background_btn {
    background: linear-gradient(to right, #F09336, #EC602D);
    padding: 10px 120px;
    border-radius: 50px;
}
